$cucumber-hero-slider-background-animation-duration: 2s !default;
$cucumber-hero-slider-background-animation-function: cubic-bezier(0,.55,.51,.86) !default;


.cucumber-hero-slider-wrapper{
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  outline: currentcolor none medium;
  position: relative;
  padding: 32px 26px 0px;
}

.cucumber-hero-slider-background{
  height: 100vh;
  position: absolute;
  top: 0px;
  padding: 0px;
  margin: 0px;
}

.cucumber-hero-slider-background:nth-child(1) {
  transform: scaleX(0);
  left: 0px;
  width: 100%;
  z-index: -1;
  transform-origin: 0px 50%;
}

.cucumber-hero-slider-background:nth-child(2) {
  left: 0px;
  width: 100%;
  z-index: -10;
}

.cucumber-hero-slider-background:nth-child(3) {
  transform: scaleX(0);
  left: unset;
  right: 0px;
  width: 100%;
  z-index: -1;
  transform-origin: 100% 50%;
}


@keyframes cucumber-hero-slider-background-animation {
  from {transform: scale(0,1);}
  to {transform: scale(1,1);}
}

.cucumber-hero-slider-background-animated {
  animation-name: cucumber-hero-slider-background-animation;
  animation-duration: $cucumber-hero-slider-background-animation-duration;
  animation-timing-function: $cucumber-hero-slider-background-animation-function;
}


.cucumber-hero-slider-content-wrapper{
  position: relative;
  z-index: 10000;
}

.cucumber-hero-slider-button-wrapper{
  position: absolute;
  z-index: 10000;
  top: 50%;
  left: 0px;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
  justify-content: space-between;
  visibility: hidden;
  padding: 15px;
  overflow: visible;
}

.cucumber-hero-slider-button-left{
  background-color: transparent;
  color: rgb(63, 69, 100);
  display: flex;
  flex-direction: row;
  cursor: pointer;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  overflow: visible;
  transition: color 0.3s ease-out 0s;
  outline: none;
}

.cucumber-hero-slider-button-right{
  background-color: transparent;
  color: rgb(63, 69, 100);
  display: flex;
  flex-direction: row-reverse;
  cursor: pointer;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  overflow: visible;
  transition: color 0.3s ease-out 0s;
  outline: none;
}

.cucumber-hero-slider-contents-wrapper{
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
}

@include media-breakpoint-up(md){
  .cucumber-hero-slider-button-wrapper{
    padding: 25px;
    visibility: visible;
  }
}


@include media-breakpoint-up(lg) {
  .cucumber-hero-slider-button-wrapper{
    top: 45%;
    padding: 12px;
    visibility: visible;
  }

  .cucumber-hero-slider-content-wrapper{
    max-width: 750px;
    padding-right: 50px;
    top: -30px;
    grid-column: description / description;
  }
}
